<h1 style="font-size: 40px; margin-bottom: 0px;">16.7 More DataFrames and <br /> working with your data in Python</h1>

<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 750px;"></hr>

Yesterday, we went over some basic functionality of DataFrames, specifically how to retrieve data and how to apply conditional statements to filter DataFrames based on some quantitative value. Today, we'll learn a little bit more about DataFrames, practice a bit more on working with DataFrames, and then begin working with some of the data that you've generated this summer. 

As you're now getting more familiar with the basics of Python, see if you can challenge yourself to begin writing more and more compact code, reducing the numbr of actions needed to complete a certain task.

<strong>Today's learning objectives:</strong>
<ol>
    <li>Outputting DataFrames</li>
    <li>Combining DataFrames</li>
    <li>DataFrame NaN values</li>
    <li>Sorting DataFrames</li>
    <li>DataFrame filtering by qualitative values</li>
    <li>Working with our dataset</li>
</ol>

In [ ]:
import numpy as np
import pandas as pd

<h1 style="font-size: 40px; margin-bottom: 0px;">Exercises</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 400px;"></hr>

<h1 style="font-size: 32px;">Exercise #1: Outputting DataFrames into notebook</h1>

As you saw in yesterday's exercises, you could output a DataFrame's contents using either <code>print()</code> or <code>df.style</code>. The DataFrame that we were working with was manageable in size and not too unwieldy. But what happens if we have a large DataFrame consisting of maybe hundreds of rows?

For this exercise, take what you've learned so far, and see if you can in a single logical line of code, set up a large 100 rows x 4 columns DataFrame consisting of randomly generated integers in the range [0, 200) with column labels <code>'Tony'</code>, <code>'Victor'</code>, <code>'Liebchen'</code>, and <code>'Barbara'</code> while also assigning your DataFrame to a variable.

You can either output the DataFrame by calling up the variable, using the <code>print()</code> function, or by using the <code>df.style</code> attribute. Give it a try in the code cell below, and if the output is too large, right-click and select "Clear cell output" to remove that output from being displayed in your notebook.

How did the output from <code>df.style</code> differ from the other two outputs? 

You might have noticed that the output from <code>print()</code> and just outputting the variable only shows part of the DataFrame with the middle rows hidden behind ellipses, whereas the stylized table from <code>df.style</code> displays all rows.

Let's transpose the DataFrame that we created, and then use the <code>print()</code> function to output the transposed DataFrame. See if you can do it in a single logical line.

What do you notice about the output?

You might see that the output also wraps around, and the DataFrame becomes a little less easy to read. Compare that to the <code>df.style</code> output. See if you can also do this in a single logical line, where transpose the original DataFrame and output a stylized table.

<h1 style="font-size: 32px;">Exercise #2: DataFrame head and tail attributes</h1>

Pandas DataFrames have certain attributes, such as a head which is calld up by <code>df.head()</code>, and a tail which is called up by <code>df.tail()</code>, which by default correspond to the first five and last five rows of your DataFrame, respectively. 

So, if you just wanted to do a quick check to see if your data was imported into your notebook correctly, you can make use of the <code>df.head()</code> or <code>df.tail()</code> attributes.

Let's use our large DataFrame from exercise #1. Test out those two functions and see how the output looks. What happens if you include the <code>.style</code> attribute after pulling either the head or tail (in the same line)?

Dig into the documentation for <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html" rel="noopener noreferrer"><u>the <code>df.head()</code> attribute</u></a> and <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html" rel="noopener noreferrer"><u>the <code>df.tail()</code> attribute</u></a>. What will you need to adjust in order to pull the first 10 rows or bottom 10 rows?

Give it a try below.

<h1 style="font-size: 32px;">Exercise #3: Combining a DataFrame</h1>

To set up for this exercise, let's create a new DataFrame that is derived from our larger one, but we will specifically pull out the first ten rows of the first two columns. Then save it to a new variable. See if you can do it in a single logical line making use of both <code>df.iloc[]</code> and slice notation.

Let's check to make sure we got what we were expecting. We generally want to make a habit of checking that our output looks like how we want it to, basically performing QC and verifying what we're working with.

What possible approaches can we take to verify our new DataFrame was properly set up? Use your favorite approach below.

Now we're going to pull some more rows and columns from our original large DataFrame. Pull out the first five rows from the last four columns and save it to a new variable.

Check to make sure you got what you were looking for.

Now if we wanted to combine these two DataFrames by concatenating them, we can make use of the <code>pd.concat()</code> function, which allows use to combine our two DataFrames together. <a href="https://pandas.pydata.org/docs/reference/api/pandas.concat.html" rel="noopener noreferrer"><u>Documentation for <code>pd.concat()</code> is here.</u></a>

To concatenate our two smaller DataFrames, we would set up the following:

```
concat_df = pd.concat([small_df_1, small_df_2], axis=1)
```

<strong>Breaking down this code, we get:</strong>
<ul>
<li><code>concat_df</code> - this is our variable to which we're assigning something</li>
    <li><code>=</code> - this is our assignment operator</li>
    <li><code>pd.concat()</code> - this is invoking the pandas package and calling up the concat function</li>
    <li><code>[small_df_1, small_df_2]</code> - we pass our two DataFrames together in a list object to the function</li>
    <li><code>axis=1</code> - We specify that we want to concatenate our columns </li>
</ul>

Give it a try below to join your two small DataFrames.

Now take a look at the combined DataFrame. What do you notice about it after the concatenation?

You can probably see that there are values indicated by <code>NaN</code>. These are indicators that tell you that this is an empty cell - nothing exists in it. You can think of this as an empty cell in Excel or Google Sheets as they denote the same thing - nothing.

Another way to get the same resulting DataFrame is to use the <code>df.join()</code>. Note how the syntax for the function is different than for <code>pd.concat()</code>. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html" rel="noopener noreferrer"><u>Documentation for <code>df.join()</code> can be found here.</u></a>

The consequence of this that the way to set up this join is different than the <code>pd.concat()</code> function.

So the line of code would look like:

```
joined_df = small_df_1.join(small_df_2)
```

<strong>Breaking down this code, we get:</strong>

<ul>
    <li><code>joined_df</code> - this is our variable</li>
    <li><code>=</code> - this is our assignment operator</li>
    <li><code>small_df_1</code> - we're calling up our first small DataFrame as the 'left' object</li>
    <li><code>.join()</code> This is the join function.</li>
    <li><code>small_df_2</code> - we're passing our second small DataFrame as the 'right' object</li>
</ul>

Give it a try below to join your two small DataFrames.

Don't forget to do a quick check.

Do you see any differences between the two aproaches we used to combine our two DataFrames?

<h1 style="font-size: 32px;">Exercise #4: Sorting a DataFrame</h1>

Like in Excel and Google Sheets, we can sort our DataFrame to organize how we want our data displayed. Sorting is done through the <code>df.sort_values()</code> function. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html" rel="noopener noreferrer"><u>Documentation for <code>df.sort_values</code> can be found here.

Take a look at the documentation to see if you can sort your concatenated DataFrame by descending order by the <code>'Barbara'</code> column.

Now output <code>concat_df</code> below. How does it look compared to the sorted output above.

One thing that you may notice is that the index values are now all jumbled up. Recall that the index is like the key or label for its row, so when the row is reordered, the index will be too. This an important property of DataFrames because it can allow us to clean, filter, merge, concatenate, etc our DataFrames, and each row will still continue to hold its original index value.

Depending on how you set up your code, you might see that the <code>concat_df</code> is no longer sorted like the output above. This is because of the parameter <code>inplace</code>. If <code>inplace=False</code>, then the DataFrame being sorted is not overwritten. In order to access this DataFrame for later operations, you'll need to assign it to a variable.

However, you can set <code>inplace=True</code>, and this will perform the sort operation "in place", meaning that the <code>concat_df</code> DataFrame will be updated to reflect the sort. In this case, you don't need to assign the output to a variable since the operation was done on the DataFrame.

You can try switching that parameter between <code>True</code> and <code>False</code> below.

You might also see that the <code>NaN</code> values are placed at the bottom of the sorted DataFrame. This is because by default, the function will handle 'empty cells' by putting them all last. You can see this is the case in the documentation for <code>df.sort_values()</code>.

You can see in the documentation that you can switch between <code>'first'</code> and <code>'last'</code> and that will change how <code>NaN</code> values are handled during sorting.

You can try giving that a test below by setting <code>na_position</code> to either <code>'first'</code> or <code>'last'</code>.

You can also sort multiple columns or rows at a time and simultaneously specify the sorting priority based on the order in which the columns appear in the list that you will pass to the <code>df.sort_values()</code> function. Give it a try below, and try sorting based on values in two or more columns.

In [ ]:
concat_df.sort_values(by=['Barbara', 'Tony'])

<h1 style="font-size: 32px;">Exercise #5: Reorganizing a DataFrame</h1>

Sometimes you might find yourself needing to reorganize the order in which the columns are read, such as if you want a 'Last name' column to appear before a 'First name' column. If you have a small number of columns or column labels with short strings, you can manually input the order of columns to create a new DataFrame that contains the columns ordered how you want it.

```
concat_df_reorder = concat_df[['Liebchen', 'Tony', 'Barbara', 'Victor']]
```

<strong>Breaking down this code, we get:</strong>

<ul>
    <li><code>concat_df_reorder</code> - this is our variable to which we will asisgn our reorganized DataFrame</li>
    <li><code>=</code> - this is our assignment operator</li>
    <li><code>concat_df</code> - this is the DataFrame that we want to reorganize</li>
    <li><code>[ ]</code> - we are telling Python that we want a column or columns defined by a list of elements that we provide</li>
    <li><code>['Liebchen', 'Tony', 'Barbara', 'Victor']</code> - this is the list of elements that we are telling Python to pull columns from and in this order (remember lists are ordered)</li>
</ul>

What we are essentially doing is creating a list <code>&lbrack;'Liebchen', 'Tony', 'Barbara', 'Victor'&rbrack;</code> that contains the order in which we want our columns to be based on the header values. We then use this list to retrieve the columns from the DataFrame <code>concat_df</code> in the order that we indicated in the list, and then assign the resulting DataFrame to our variable <code>concat_df_reorder</code>.

Give it a try below to see if you can reorder the columns of your DataFrame.

We can also make use of slice notation to inverse the order of our columns.

Slice notation has the following syntax:

```
[ 1st (inclusive) : last (exclusive) : step size]
```

And if you want to include everything, you can write it out as follows using slice notation:

```
[ : ] 
```

or 

```
[ : : ]
```

You can also similarly specify this along two-dimensions.

```
[ : , : ]
```

or

```
[ :: , :: ]
```

The colons without values just indicates all positions. You can give that a try below combining the index-based locator <code>df.iloc[]</code> and slice notation in 2 dimensions.

To inverse the order, you can provide a negative value for the step size, and with a step size of <code>-1</code>, the order is reversed. Give that a try below to reverse the order of columns.

Pandas also has functions that allow us to drop rows and/or columns. The <code>df.drop()</code> function is useful for  removing a single column or row, and the <code>df.dropna()</code> is helpful to remove rows/columns containing NaN from your DataFrame, particularly if it causes some conflict.

<a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html" rel="noopener noreferrer"><u>Documentation for <code>df.drop()</code> is here.</u></a>

<a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html" rel="noopener noreferrer"><u>Documentation for <code> df.dropna()</code> is here</u></a>

Take a look at the documentation and see if you can drop a row, column, or ones containing NaN.

<h1 style="font-size: 32px;">Exercise #6: Filtering based on qualitative value</h1>

You learned yesterday how to filter data based on quantitative values, and here you will use the same syntax to then filter based on qualitative values that aren't a numerical object.

First, let's put in some qualitative values into our concatenated DataFrame. To simplify the set up, copy the list below and add a new column <code>'Treat'</code> to the <code>concat_df</code> DataFrame.

```
['tuna', 'salmon', 'ahi', 'tuna', 'salmon', 'ahi', 'tuna', 'salmon', 'ahi', 'tuna']
```

Recall from previous lessons how you can call up a non-existent column to populate it with the values that you want.

As usual, let's do a sanity check to make sure everything worked as expected.

Now let's say we want to work with only the data collected for when cats have had tuna as a treat. The first thing we'll want to do is to set up a conditional statement to check which positions in the <code>'Treat'</code> column match the string <code>'tuna'</code>.

How would you set up a conditional statement to check if <u>just</u> the elements in the <code>'Treat'</code> column meets your condition? Give that a try below.

What you can see is that we have a Series containing results of the element-wise comparison. Recall from yesterday how we filtered our dataset. We will set it our filtering the same way. Go ahead and filter your dataset so we're only working with rows that meet our tuna requirement, and save it to a new DataFrame.

Let's perform a sanity check again.

Pandas also has developed tools for us to filter our DataFrames too. These tools operate similarly to the operators that we've been using before to set up conditional statements, so we can apply them in the same way to filter our DataFrames.

The <code>Series.str.contains()</code> can be helpful to pull values containing a short string of relevance, when the complete strings may contain other non-related information. <a href="https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html" rel="noopener noreferrer"><u>Documentation for <code>Series.str.contains()</code> can be found here.</u></a>

You might have noticed that it uses a Series object, but we want to filter a DataFrame. Something to note is that when we pull out a column to evaluate, that column's data type is Series instead of DataFrame.

You can see that if you try pulling out a column from a DataFrame and check the type with <code>type()</code>.

Now make use of the <code>Series.str.contains()</code> function to perform an element-wise evaluation.

How does the output look? What is it's data type now?

Other functions similar to <code>Series.str.contains()</code> are <code>Series.str.startswith()</code> and <code>Series.str.endswith()</code>. Feel free to play around with these functions below.

See if you can then take what you've learned and pull all the rows that correspond to <code>salmon</code> in the <code>'Treat'</code> set.

<h1 style="font-size: 32px;">Exercise #7: Importing data</h1>

Now we're moving to working with our own data in Python, and for today's exercises, you'll use your group's MTT data, specifically the .csv file. Upload your group's raw MTT data to the <code>data</code> folder. Double click the .csv file in the File Browser to open it up in JupyterLab. You should be able to view it as a normal spreadsheet in a separate window from this notebook. After return to this notebook.

To import a spreadsheet, we will use pandas, which will import the file and also convert it into a DataFrame for us. The function <code>pd.read_csv()</code> will be the main one that you use to import data. <a href="https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html" rel="noopener noreferrer"><u>Documentation for <code>pd.read_csv()</code> can be found here.</u></a>

Although the function itself is named to read .csv files, it has the ability to import essentially any spreadsheet that has some type of character separating the values from each other. The function parses through the file and sets up the DataFrame much like how Excel and Google Sheets can parse through the same file types to set up a spreadsheet. You may encounter .tsv (tab separated values) files as well as files with other kinds of delimiters.

Let's start with a basic import and assign the imported data to a variable. When giving your file name, you'll need to make sure that you specify the correct file path to get to your .csv file. Otherwise the Python interpreter won't be able to find the file. You'll also need to keep in mind that the file path that you provide can either start from the home directory or it can start from this notebook's directory. And the file path will need to be a string.

Let's take a look at the resulting DataFrame. How does your DataFrame look?

Recall that the .csv files had these large headers which makes it harder to find what we need.

So two potential ways are to clean the dataset of its useless rows during import or to clean/filter your DataFrame to get just the relevant rows.

If you want to try cleaning at the import step, go back into the documentation and see what parameter you'll need to adjust in order to import only the relevant rows and columns.

If you want to clean/filter your DataFrame on your own, you can take what we've learned and pull out the relevant rows containing your data.

Let's take a look at how it all imported and got cleaned up.

<h1 style="font-size: 32px;">Exercise #8: Data processing</h1>

You should have a dataset that has been cleaned up and tidied and is ready for you to do some more data processing. Recall that we will need to subtract the mean background absorbance from all wells.

So first, see if you can find the mean background absorbance from your MTT assay results. What is the function that we'll need to use? How would you save the mean background absorbance to a variable?

With the mean background saved in a variable, we can perform some math to subtract the mean from all our wells. Recall that we can perform element-wise operations on DataFrames. See if you can subtract the mean background absorbance from your group's data.

Now find the mean corrected absorbance for your control and edited groups.

To challenge yourself a little bit, how could you reduce what we've done so far in this exercise (#8) into a single line?

<h1 style="font-size: 32px;">Exercise #9: Renaming DataFrame labels</h1>

Depending on how you've imported and cleaned your data, you may need to rename your index labels to be more informative. To do this, you will make use of the <code>df.rename()</code> function. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html" rel="noopener noreferrer"><u>Documentation on <code>df.rename()</code> can be found here.</u></a>

As indicated in the documention, you can specify if you're renaming columns or rows. In our case, we want to change the rows, and to do this, we'll make use of the <code>index</code> parameter. We'll pass it a dictionary, where the keys of the dictionary match to the current labels, and the values of the dictionary are what I want them to be updated to.

For example:

If my three rows were indexed by numbers, I could set up a dictionary to map the numbers to what I want to call my sample groups then pass it to the <code>index</code> parameter of <code>df.rename()</code>.

Don't forget that if you want to apply those changes directly to your DataFrame, you will need to swap <code>inplace=False</code> to <code>inplace=True</code>. Otherwise you will need to assign it to a variable.

See if you can rename your sample groups apprpropriately.

<h1 style="font-size: 32px;">Exercise #10: Exporting your cleaned and processed data</h1>

Pandas also lets us export a DataFrame into a .csv file, so we can keep a copy of our cleaned and processed data for future refernce if needed.

To do this, we'll make use of the <code>df.to_csv()</code> function. <a href="https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html"><u>Documentation for <code>df.to_csv()</code> can be found here.</u></code>

We'll provide our Python interpeter with our file name, what we want to have as a delimiter (denoted by the <code>sep</code> parameter), and it will export the .csv file to the same folder that this notebook is in.

Go ahead and give that a try below to see if you can export your cleaned and processed MTT data.

<h1 style="font-size: 40px; margin-bottom: 0px;">Summary</h1>
<hr style="margin-left: 0px; border: 0.25px solid; border-color: #000000; width: 400px;"></hr>

Today, you continued to learn more about DataFrames while getting more practice working with them. You also started analyzing your MTT data in Python and learned how to clean your dataset when it's not formatted in a way that Python and pandas can easily interpret. Over the course of Exp 16, you started getting more famililar with the BiologyHub infrastructure, JupyterLab, and Python. Looking towards next semester, we will pick off where we left off and continue working with our data in Python moving towards data visualization and statistical analysis. Then we will dive into more in-depth analyses, learning to set up analysis pipelines, and analyze big datasets.